<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Trang chủ</title>
</head>

<body>

    <main layout:fragment="content">

        <div class="text-center">

            <h1 class="mb-3">
                Trang chủ
            </h1>

            <p class="lead">
                Đăng nhập thành công!
            </p>

            <p>
                Chào mừng bạn đến với Example 2.
            </p>

        </div>

    </main>

</body>
</html>