<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:text="${title ?: 'IOTSTAR SHOP'}">
        IOTSTAR SHOP
    </title>

    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>

<body th:fragment="page(content)">

    <!-- HEADER -->
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- MAIN CONTENT -->
    <main class="main-content">
        <div th:replace="${content}"></div>
    </main>

    <!-- FOOTER -->
    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>